body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	line-height: 1;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
}

h1 {
	font-family: 'Abril Fatface', cursive;
}

h2, h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
}

h2 {
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 25px;
}

h3 {
	font-size: 23px;
	line-height: 1.5;
	margin-top: 30px;
}

h4 {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 14px;
}

p {
	line-height: 1.5;
}

ul {
	list-style-type: square;
}

ul li {
	margin: 0 0 10px 0;
}

strong {
	font-weight: normal;
	font-weight: 700;
}

header {
	position: relative;
	background: url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png) no-repeat top center;
	background-size: cover;
	height: 400px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

header h1 {
	position: absolute;
	bottom: 45px;
	left: 0;
	right: 0;
	max-width: 700px;
	margin: 0 auto;
	font-size: 36px;
}

header h1 span {
	display: block;
	font-size: 73px;
}

main {
	margin: 50px 0;
}

section {
	max-width: 700px;
	margin: 0 auto;
	padding: 50px 0;
}

section:first-child {
	font-size: 18px;
}

section:last-child {
	border-top: 2px solid black;
}

blockquote {
	position: relative;
	background: #222;
	font-family: 'Abril Fatface', cursive;
	max-width: 700px;
	margin: 0 auto;
	padding: 60px 44px;
	color: #fff;
	font-size: 47px;
}

blockquote::before {
  content: '“';
	position: absolute;
	top: -10px;
	left: 0;
	font-size: 140px;
	line-height: 1;
}